---
import { ClientRouter } from 'astro:transitions'
import Header from '../components/Header/index.astro'
import '../global.scss'
import './styles.scss'
---

<Header />
<main>
	<slot />
</main>

<ClientRouter />
